[tool.poetry]
name = "supabase"
version = "2.8.1" # {x-release-please-version}
description = "Supabase client for Python."
authors = ["Joel Lee <joel@joellee.org>", "Leon Fedden <leonfedden@gmail.com>", "Daniel Reinón García <danielreinon@outlook.com>", "Leynier Gutiérrez González <leynier41@gmail.com>", "Anand", "Andrew Smith <a.smith@silentworks.co.uk>"]
homepage = "https://github.com/supabase/supabase-py"
repository = "https://github.com/supabase/supabase-py"
documentation = "https://github.com/supabase/supabase-py"
readme = "README.md"
license = "MIT"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
]

[tool.poetry.dependencies]
python = "^3.9"
postgrest = "^0.17.0"
realtime = "^2.0.0"
gotrue = "^2.7.0"
httpx = ">=0.24,<0.28"
storage3 = "^0.8.0"
supafunc = "^0.6.0"
typing-extensions = "^4.12.2"

[tool.poetry.dev-dependencies]
pre-commit = "^3.8.0"
black = "^24.8"
pytest = "^8.3.3"
flake8 = "^7.1.1"
isort = "^5.10.1"
pytest-cov = "^5.0.0"
commitizen = "^3.29.1"
python-dotenv = "^1.0.1"

[tool.poetry.scripts]
tests = 'poetry_scripts:run_tests'

[tool.poetry.group.dev.dependencies]
unasync-cli = { git = "https://github.com/supabase-community/unasync-cli.git", branch = "main" }
pytest-asyncio = "^0.24.0"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
