[tool.poetry]
name = "supabase"
version = "2.7.3" # {x-release-please-version}
description = "Supabase client for Python."
authors = ["Joel Lee <joel@joellee.org>", "Leon Fedden <leonfedden@gmail.com>", "Daniel Reinón García <danielreinon@outlook.com>", "Leynier Gutiérrez González <leynier41@gmail.com>", "Anand", "Andrew Smith <a.smith@silentworks.co.uk>"]
homepage = "https://github.com/supabase/supabase-py"
repository = "https://github.com/supabase/supabase-py"
documentation = "https://github.com/supabase/supabase-py"
readme = "README.md"
license = "MIT"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
]

[tool.poetry.dependencies]
python = "^3.9"
postgrest = ">=0.14,<0.17.0"
realtime = "^2.0.0"
gotrue = ">=1.3,<3.0"
httpx = ">=0.24,<0.28"
storage3 = ">=0.5.3,<0.8.0"
supafunc = ">=0.3.1,<0.6.0"

[tool.poetry.dev-dependencies]
pre-commit = "^3.5.0"
black = "^24.8"
pytest = "^8.3.2"
flake8 = "^5.0.4"
isort = "^5.10.1"
pytest-cov = "^5.0.0"
commitizen = "^3.28.0"
python-dotenv = "^1.0.1"

[tool.poetry.scripts]
tests = 'poetry_scripts:run_tests'

[tool.poetry.group.dev.dependencies]
unasync-cli = { git = "https://github.com/supabase-community/unasync-cli.git", branch = "main" }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
