[tool.uv.workspace]
members = [
  "src/realtime",
  "src/functions",
  "src/supabase",
  "src/storage",
  "src/postgrest",
  "src/auth",
  "src/utils",
]

[tool.uv.sources]
realtime = { workspace = true }
supabase_functions  = { workspace = true }
supabase_auth = { workspace = true }
storage3 = { workspace = true }
postgrest = { workspace = true }
supabase = { workspace = true }

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.ruff]
target-version = "py39"

[tool.ruff.lint]
select = [
  # pycodestyle
  "E",
  # Pyflakes
  "F",
  # pyupgrade
  "UP",
  # flake8-bugbear
  "B",
  # flake8-simplify
  # "SIM",
  # isort
  "I",
  "ANN2"
]
ignore = ["F403", "E501", "E402", "UP006", "UP035"]

[tool.ruff.lint.pyupgrade]
# Preserve types, even if a file imports `from __future__ import annotations`.
keep-runtime-typing = true
